[submodule "_patches/task"]
	path = _patches/taskfile
	url = https://github.com/sciabarracom/task
	branch = openserverless
[submodule "tools/goawk"]
	path = tools/goawk
	url = https://github.com/nuvolaris/goawk
	branch = openserverless
[submodule "tools/gojq"]
	path = tools/gojq
	url = https://github.com/nuvolaris/gojq
	branch = openserverless
[submodule "tools/envsubst"]
	path = tools/envsubst
	url = https://github.com/nuvolaris/envsubst
	branch = openserverless
