[submodule "tools/task"]
	path = tools/task
	url = https://github.com/sciabarracom/task
	branch = openserverless
[submodule "tools/sh"]
	path = tools/sh
	url = https://github.com/sciabarracom/sh
	branch = openserverless
[submodule "tools/wsk"]
	path = tools/wsh
	url = https://github.com/sciabarracom/openwhisk-cli
[submodule "tools/wskdeploy"]
	path = tools/wskdeploy
	url = https://github.com/sciabarracom/openwhisk-cli
[submodule "openserverless-task"]
	path = openserverless-task
	url = https://github.com/apache/openserverless-task
	branch = main
[submodule "tools/goawk"]
	path = tools/goawk
	url = https://github.com/nuvolaris/goawk
	branch = openserverless
[submodule "tools/gojq"]
	path = tools/gojq
	url = https://github.com/nuvolaris/gojq
	branch = openserverless
[submodule "tools/envsubst"]
	path = tools/envsubst
	url = https://github.com/nuvolaris/envsubst
	branch = openserverless
